<footer id="footer" class="footer ">
    <div class="footer-social">
        <!--返回顶部-->
        <div class="footer-container clearfix">
            <div class="social-list">
                <a class="social twitter">{{ global.BlogDescription }}</a>
            </div>
        </div>
    </div>
    <div class="footer-meta">
        <div class="footer-container">
            <div class="meta-item meta-copyright">
                <div class="meta-copyright-info">
                    <a href="https://rawchen.com/" class="info-logo">
                        <img src="https://rawchen.com/logo-footer.png" alt="{{ global.BlogTitle }}" />
                    </a>
                    <div class="info-text">
                        <p id="yephy"></p>


                        <p>&copy; 2018-2021 {{ global.BlogTitle }}</p>


                        <p><a href="http://beian.miit.gov.cn/" id="beian" target="_blank" rel="nofollow">{{ global.IPCRecord }}</a></p>
                        <p>已在世界的角落里存活了<b>
                                <script language="JavaScript"
                                    type="text/javascript"> var urodz = new Date("04/10/2018"); var now = new Date(); var ile = now.getTime() - urodz.getTime(); var dni = (Math.floor(ile / (1000 * 60 * 60 * 24)) / 365).toFixed(2); document.write(+ dni)</script>
                            </b> 年
                        </p>
                        <p>博主共写了<b> 123</b> 篇文章</p>

                        <p>网站已经被<b> 657998</b> 人踩踏</p>
                        <p style="padding-top: 5px;">
                            <a href="https://github.com/rawchen" title="GitHub" target="blank"><i
                                    class="fa fa-github-alt footer-icon" style="padding-left: 0px;"
                                    aria-hidden="true"></i></a>
                            <a href="http://wpa.qq.com/msgrd?v=3&uin=2221999792" title="QQ" target="blank"><i
                                    class="fa fa-comments footer-icon" aria-hidden="true"></i></a>
                            <a href="https://t.me/rawchen" title="Twitter" target="blank"><i
                                    class="fa fa-telegram footer-icon" aria-hidden="true"></i></a>
                            <a href="https://rawchen.com/feed" title="Feed" target="blank"><i
                                    class="fa fa-feed footer-icon" aria-hidden="true" style="font-size: 26px;"></i></a>
                            <a href="https://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=BnRncWVuY2hGd3coZWlr"
                                title="Email" target="blank"><i class="fa fa-envelope footer-icon" aria-hidden="true"
                                    style="font-size: 27px;"></i></a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="meta-item meta-posts">
                <h3 class="meta-title">最新文章</h3>
                {% for latestArticle in global.LatestArticles %}
                <li><a href="{{ latestArticle.URL }}">{{ latestArticle.Title }}</a></li>
                {% endfor %}
            </div>
            <div class="meta-item meta-comments">
                <h3 class="meta-title">最近评论</h3>
                {% for latestComment in global.LatestComments %}
                <li><a href="{{ latestComment.URL }}">{{ latestComment.Content }}</a></li>
                {% endfor %}
            </div>
        </div>
    </div>
</footer>
<script type="text/javascript">
    var yephy = function (r) {

        function t() {
            return b[Math.floor(Math.random() * b.length)]
        }

        function e() {
            return String.fromCharCode(94 * Math.random() + 33)
        }

        function n(r) {
            for (var n = document.createDocumentFragment(), i = 0; r > i; i++) {
                var l = document.createElement("span"); l.textContent = e(), l.style.color = t(), n.appendChild(l)
            } return n
        }
        function i() {
            var t = o[c.skillI]; c.step ? c.step-- : (c.step = g, c.prefixP < l.length ? (c.prefixP >= 0 &&
                (c.text += l[c.prefixP]), c.prefixP++) : "forward" === c.direction ? c.skillP < t.length ? (c.text += t[c.skillP],
                    c.skillP++) : c.delay ? c.delay-- : (c.direction = "backward", c.delay = a) : c.skillP > 0 ? (c.text =
                        c.text.slice(0, -1), c.skillP--) : (c.skillI = (c.skillI + 1) % o.length, c.direction = "forward")),
                r.textContent = c.text, r.appendChild(n(c.prefixP < l.length ? Math.min(s, s + c.prefixP) : Math.min(s, t.length
                    - c.skillP))), setTimeout(i, d)
        }
        var l = "喜欢什么就去做吧！";
        var o = ["后端开发", "极简化", "写博客", "去看海", "户外运动", "摄影"].map(function (r) { return r + "." });
        var a = 2, g = 1, s = 5, d = 75;
        var b = ["rgb(110,64,170)", "rgb(150,61,179)"
            , "rgb(191,60,175)", "rgb(228,65,157)", "rgb(254,75,131)", "rgb(255,94,99)", "rgb(255,120,71)"
            , "rgb(251,150,51)", "rgb(226,183,47)", "rgb(198,214,60)", "rgb(175,240,91)", "rgb(127,246,88)"
            , "rgb(82,246,103)", "rgb(48,239,130)", "rgb(29,223,163)", "rgb(26,199,194)", "rgb(35,171,216)"
            , "rgb(54,140,225)", "rgb(76,110,219)", "rgb(96,84,200)"];
        var c = {
            text: "", prefixP: -s, skillI: 0, skillP:
                0, direction: "forward", delay: a, step: g
        };
        i()
    }; yephy(document.getElementById('yephy'));
    var element = new Image(); Object.defineProperty(element, 'id', {
        get: function () {
            window.location.href = "https://rawchen.com"
        }
    });
    console.log(element); document.body.oncopy = function () {
        layer.msg('复制成功，若要转载请务必保留本文链接！');
    };
    document.onkeydown = function () {
        if (window.event && window.event.keyCode == 123) {
            layer.msg("F12被禁用"); event.keyCode = 0; event.returnValue = false;
        }
    }
</script>