<!DOCTYPE html>
<html>
<head>
    {% include "component/head.html" %}
    <meta name="keywords" content="" />
    <meta name="description" content="软件工程大四学生，渴望并相信着美好的事情将会发生，会一直启用这个博客，算是一个不错的人生笔记。代码改变世界可能很难，但做一些有趣的事情可能正好。" />
    <title>{{ page.Name }} - {{ global.BlogTitle }}</title>
</head>

<body class="" gtools_scp_screen_capture_injected="true">

    {% include "component/header.html" %}

    <article class="main-content page-page">
        <div class="post-header">
            <h1 class="post-title" itemprop="name headline"> 关于 </h1>
            <div class="post-data">
                <time datetime="2021-12-24T23:04:00+08:00" itemprop="datePublished">
                    <i class="fa fa-clock-o" aria-hidden="true"> </i> 2021-12-24
                </time>&nbsp;&nbsp;
                <i class="fa fa-comments-o" aria-hidden="true"></i>
                <a href="#comments"> {{ page.CommentsNum }} 评论</a>&nbsp;&nbsp; <i class="fa fa-eye" aria-hidden="true"></i> {{ page.Visits }} 浏览
            </div>
        </div>
        <div id="post-content" class="post-content">
            <p>渴望并相信着美好的事情将会发生，会一直启用这个博客，算是一个不错的人生笔记。<br>代码改变世界可能很难，但做一些有趣的事情可能正好。</p>
            <img id="githubChart" src="https://ghchart.rshah.org/af813d/alkaidchan"
                onclick="window.open('https://github.com/alkaidchan')">
            <div class=" about-contact">
                <a href="http://wpa.qq.com/msgrd?v=3&uin=362774405&site=qq&menu=yes" target="_blank">
                    <div class="qq">
                        <span class="content">362774405</span>
                        <i class="fa fa-qq"></i>
                    </div>
                </a>
                <a href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=f0xJTUhIS0tPSj8ODlEcEBI" target="_blank">
                    <div class="email">
                        <span class="content">362774405@qq.com</span>
                        <i class="fa fa-envelope-o"></i>
                    </div>
                </a>
                <a href="https://t.me/alkaidchen" target="_blank">
                    <div class="telegram">
                        <span class="content">AlkaidChen</span>
                        <i class="fa fa-telegram"></i>
                    </div>
                </a>
            </div>
            <h1>项目版权</h1>
            <p>如侵犯他人著作权、名誉权、隐私权及肖像权等请联系本站删除。</p>
        </div>
    </article>

    {% include "component/comment.html" with comments=comments type="page" perfix=page.Slug pagination=pagination %}

    {% include "component/footer.html" %}
    <a href="#0" class="cd-top">Top</a>
    {% include "component/tail.html" %}
    <script type="text/javascript" src="https://alkaidchen-1257721976.cos.ap-guangzhou.myqcloud.com/blog/static/js/commentTyping.js"></script>
</body>
</html>