 <!DOCTYPE html>
 <html>
 <head>
    {% include "component/head.html" %}
     <meta name="keywords" content="" />
     <meta name="description" content="分类" />
     <title>{{ category.Name }} - {{ global.BlogTitle }}</title>
 </head>
 
 <body class="bg-grey" gtools_scp_screen_capture_injected="true">
    {% include "component/header.html" %}
    <div class="main-content common-page clearfix">
        <div class="common-item">
            <div class="common-title">
                分类 : {{ category.Name }} </div>
            <div class="post-lists">
                <div class="post-lists-body">
                    {% for article in articles %}
                    <div class="post-list-item">
                        <div class="post-list-item-container  bg-{{ global.RandomColor }}">
                            <a href="/article/{{ article.ID }}">
                                <div class="item-label bg-{{ global.RandomColor }}">
                                    <div class="item-title">{{ article.Title }}</div>
                                    <div class="item-meta clearfix">
                                        <div class="item-meta-ico bg-ico-game"
                                            style="background: url({{ global.ThemePath }}/static/images/bg-ico.png) no-repeat;background-size: 40px auto;">
                                        </div>
                                        <div class="item-meta-date"> {{ article.PublishTime|date:"2006-01-02" }} </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="lists-navigator clearfix">
            <ol class="page-navigator">
                {% if pagination.Pre != 0 %}
                <li class="prev"><a href="/category/{{ category.Slug }}/{{ pagination.Pre }}"><</a></li>
                {% endif %}
                {% if pagination.First != 0 %}
                <li><a href="/category/{{ category.Slug }}/{{ pagination.First }}">{{ pagination.First }}</a></li>
                <li><span>-</span></li>
                {% endif %}
                {% for i in pagination.Range %}
                {% if i == pagination.Current %}
                <li class="current"><a href="/category/{{ category.Slug }}/{{ i }}">{{ i }}</a>
                </li>
                {% else %}
                <li><a href="/category/{{ category.Slug }}/{{ i }}">{{ i }}</a></li>
                {% endif %}
                {% endfor %}
                {% if pagination.Last != 0 %}
                <li><span>-</span></li>
                <li><a href="/category/{{ category.Slug }}/{{ pagination.Last }}">{{ pagination.Last }}</a></li>
                {% endif %}
                {% if pagination.Next != 0 %}
                <li class="next"><a
                        href="/category/{{ category.Slug }}/{{ pagination.Next }}">></a></li>
                {% endif %}
            </ol>
        </div>
    </div>
    {% include "component/footer.html" %}
    <a href="#0" class="cd-top">Top</a>
    {% include "component/tail.html" %}
</body>
</html>