<!DOCTYPE html>
<html>
<head>
    {% include "component/head.html" %}
    <meta name="keywords" content="{{ global.BlogTitle }}" />
    <meta name="description" content="{{ global.BlogDescription }}" />
    <title>{{ global.BlogTitle }}</title>
</head>

<body class="bg-grey" gtools_scp_screen_capture_injected="true">
    {% include "component/header.html" %}
    <div class="main-content index-page clearfix onelist-page">
        <div class="post-lists">
            <div class="post-lists-body">
                <div class="post-onelist-item">
                    <div class="post-onelist-item-container">
                        <a href="/">
                            {% if global.ThemeOptions.indexMainCover %}
                                <div class="onelist-item-thumb bg-deepgrey"
                                    style="background-image:url({{ global.ThemeOptions.indexMainCover }});">
                                </div>
                            {% else %}
                                <div class="onelist-item-thumb bg-deepgrey"
                                    style="background-image:url({{ global.ThemePath }}/static/images/index-main-cover.png);">
                                </div>
                            {% endif %}
                        </a>
                        <div class="onelist-item-info">
                            <div class="item-title">
                                <a href="/">{{ global.BlogTitle }}</a><span class="caret"></span>
                            </div>
                            <div class="item-meta" style="font-size: 15px">
                                <p>{{ global.BlogDescription }}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- x10 -->
                {% for article in articles %}
                <div class="post-onelist-item">
                    <div class="post-onelist-item-container">
                        <a href="/article/{{ article.ID }}">
                            {% if article.Cover %}
                            <div class="onelist-item-thumb bg-{{ global.RandomColor }}" style="background-image:url({{ article.Cover }});"></div>
                            {% else %}
                            <div class="onelist-item-thumb bg-{{ global.RandomColor }}""></div>
                            {% endif %}
                        </a>
                    <div class="onelist-item-info">
                        <div class="item-title">
                            <a href="/article/{{ article.ID }}"><span style="padding-right:10px"></span>{{ article.Title }}</a>
                        </div>
                        <div class="item-meta">
                            <time itemprop="datePublished">
                            <i class="fa fa-clock-o" aria-hidden="true"> </i> {{ article.PublishTime|date:"2006-01-02" }}</time>&nbsp;&nbsp;
                            {% if article.Categories | length != 0 %}
                            <i class="fa fa-tags" aria-hidden="true"></i>
                            {% with category = article.Categories | first %}
                            <a href="category/{{ category.Slug }}">{{ category.Name }}</a>
                            {% endwith %}&nbsp;&nbsp;
                            {% endif %}
                            <i class="fa fa-comments-o" aria-hidden="true"></i> <a href="/article/{{ article.ID }}#comments">{{article.CommentsNum}} 评论</a>&nbsp;&nbsp;
                            <i class="fa fa-eye" aria-hidden="true"></i> {{ article.Visits }} 浏览
                        </div>
                        <div class="item-meta-hr  bg-{{ global.RandomColor }}"></div>
                        <div class="item-content">
                            <p>{{ article.Summary }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="lists-navigator clearfix">
        <ol class="page-navigator">
            {% if page.Pre != 0 %}
            <li class="prev"><a href="/index/{{ page.Pre }}"><</a></li>
            {% endif %}
            {% if page.First != 0 %}
            <li><a href="/index/{{ page.First }}">{{ page.First }}</a></li>
            <li><span>-</span></li>
            {% endif %}
            {% for i in page.Range %}
            {% if i == page.Current %}
            <li class="current"><a href="/index/{{ i }}">{{ i }}</a></li>
            {% else %}
            <li><a href="/index/{{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}
            {% if page.Last != 0 %}
            <li><span>-</span></li>
            <li><a href="/index/{{ page.Last }}">{{ page.Last }}</a></li>
            {% endif %}
            {% if page.Next != 0 %}
            <li class="next"><a href="/index/{{ page.Next }}">></a></li>
            {% endif %}
        </ol>
    </div>
    {% include "component/footer.html" %}
    <a href="#0" class="cd-top">Top</a>
    {% include "component/tail.html" %}
</body>
</html>