<!DOCTYPE html>
<html>
<head>
    {% include "component/head.html" %}
    <meta name="keywords" content="" />
    <meta name="description" content="{{ page.Name }}" />
    <title>{{ page.Name }} - {{ global.BlogTitle }}</title>
</head>

<body class="" gtools_scp_screen_capture_injected="true">
    {% include "component/header.html" %}
    <article class="main-content page-page">
        <div class="post-header">
            <h1 class="post-title" itemprop="name headline"> {{ page.Name }} </h1>
            <div class="post-data">
                <time datetime="{{ page.CreateTime|date:"2006-01-02T15:04:05" }}+08:00" itemprop="datePublished">
                    <i class="fa fa-clock-o" aria-hidden="true"> </i> {{ page.CreateTime|date:"2006-01-02" }}</time>&nbsp;&nbsp;
                    <i class="fa fa-comments-o" aria-hidden="true"></i> <a href="#comments"> {{ page.CommentsNum }} 评论</a>&nbsp;&nbsp;
                    <i class="fa fa-eye" aria-hidden="true"></i> {{ page.Visits }} 浏览
            </div>
        </div>
        <div id="post-content" class="post-content">
            <ul div class="flinks">
                {% for link in links %}
                <li><a href="{{ link.URL }}" target="_blank"><img src="{{ link.Logo }}" />{{ link.Name }}</a></li>
                {% endfor %}
            </ul>
            <h2>申请友链样式:</h2>
            <blockquote>
                <p>Name：AlkaidChen<br>Addr：<a href="https://alkaidchen.com" target="_blank">https://alkaidchen.com</a><br>Logo：<a
                        href="https://alkaidchen.com/favicon.ico" target="_blank">https://alkaidchen.com/favicon.ico</a></p>
            </blockquote>
            <p>欢迎来互换友链，也可以在这个页面下方留言都行。<br>我会记着,感谢曾经给予我帮助的人。</p>
        </div>
    </article>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
    <script src="{{ global.ThemePath }}/static/js/megrez-comment.min.js"></script>
    <megrez-comment id={{page.ID}} type="page"></megrez-comment>

    {% include "component/footer.html" %}
    <a href="#0" class="cd-top">Top</a>
    {% include "component/tail.html" %}
</body>
</html>