<footer id="footer" class="footer ">
    <div class="footer-social">
        <!--返回顶部-->
        <div class="footer-container clearfix">
            <div class="social-list">
                <a class="social twitter">{{ global.BlogDescription }}</a>
            </div>
        </div>
    </div>
    <div class="footer-meta">
        <div class="footer-container">
            <div class="meta-item meta-copyright">
                <div class="meta-copyright-info">
                    <a href="/" class="info-logo">
<!--                        <img src="{{ global.FooterLogo }}" alt="{{ global.BlogTitle }}" />-->
                        {{ global.BlogTitle }}
                    </a>
                    <div class="info-text">
                        <p id="yephy"></p>


                        <p>&copy; 2018-2022 {{ global.BlogTitle }}</p>


                        <p><a href="http://beian.miit.gov.cn/" id="beian" target="_blank" rel="nofollow">{{ global.ThemeOptions.IPCRecord }}</a></p>
                        <p>已在世界的角落里存活了<b>
                                <script> var urodz = new Date('{{ global.BlogBirth|date:"2006,01,02" }}'); var now = new Date(); var ile = now.getTime() - urodz.getTime(); var dni = (Math.floor(ile / (1000 * 60 * 60 * 24))).toFixed(2); document.write( + dni)</script>
                            </b> 天
                        </p>

                        <p style="padding-top: 5px;">
                            <a href="https://github.com/alkaidchan" title="GitHub" target="blank"><i
                                    class="fa fa-github-alt footer-icon" style="padding-left: 0px;"
                                    aria-hidden="true"></i></a>
                            <a href="http://wpa.qq.com/msgrd?v=3&uin={{ global.ThemeOptions.qq }}" title="QQ" target="blank"><i
                                    class="fa fa-qq footer-icon" aria-hidden="true"></i></a>
                            <a href="https://t.me/{{ global.ThemeOptions.telegram }}" title="Twitter" target="blank"><i
                                    class="fa fa-telegram footer-icon" aria-hidden="true"></i></a>
                            <a href="/feed" title="Feed" target="blank"><i
                                    class="fa fa-feed footer-icon" aria-hidden="true"></i></a>
                            <a href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=f0xJTUhIS0tPSj8ODlEcEBI"
                                title="Email" target="blank"><i class="fa fa-envelope footer-icon" aria-hidden="true"></i></a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="meta-item meta-posts">
                <h3 class="meta-title">最新文章</h3>
                {% for latestArticle in global.LatestArticles %}
                <li><a href="{{ latestArticle.URL }}">{{ latestArticle.Title }}</a></li>
                {% endfor %}
            </div>
            <div class="meta-item meta-comments">
                <h3 class="meta-title">最近评论</h3>
                {% for latestComment in global.LatestComments %}
                <li><a href="{{ latestComment.URL }}">{{ latestComment.Content }}</a></li>
                {% endfor %}
            </div>
        </div>
    </div>
</footer>