<div class="post-list-item">
    <div class="post-list-item-container  bg-blue">
        <a href="/article/{{ article.ID }}">
            <div class="item-label  bg-yellow">
                <div class="item-title">{{ article.Title }}</div>
                <div class="item-meta clearfix">
                    <div class="item-meta-ico bg-ico-game"
                        style="background: url(http://139.9.201.209/usr/themes/rawchen/images/bg-ico.png) no-repeat;background-size: 40px auto;">
                    </div>
                    <div class="item-meta-date"> 2021-07-03 </div>
                </div>
            </div>
        </a>
    </div>
</div>