<!DOCTYPE html>
<html>

<head>
    {% include "component/head.html" %}
    <meta name="keywords" content="" />
    <meta name="description" content="{{ page.Name }}" />
    <title>{{ page.Name }} - {{ global.BlogTitle }}</title>
</head>

<body class="" gtools_scp_screen_capture_injected="true">
    {% include "layout/header.html" %}
    <article class="main-content page-page">
        <div class="post-header">
            <h1 class="post-title" itemprop="name headline"> {{ page.Name }} </h1>
            <div class="post-data">
                <time datetime="2020-04-28T10:01:00+08:00" itemprop="datePublished">
                    <i class="fa fa-clock-o" aria-hidden="true"> </i> 2020-04-28</time>&nbsp;&nbsp;
                    <i class="fa fa-comments-o" aria-hidden="true"></i> <a href="#comments"> {{ page.CommentsNum }} 评论</a>&nbsp;&nbsp;
                    <i class="fa fa-eye" aria-hidden="true"></i> {{ page.Visits }} 浏览
            </div>
        </div>
        <div id="post-content" class="post-content">
            <ul div class="flinks">
                {% for link in links %}
                <li><a href="{{ link.Addr }}" target="_blank"><img src="{{ link.Logo }}" />{{ link.Name }}</a></li>
                {% endfor %}
            </ul>
            <h2>申请友链样式:</h2>
            <blockquote>
                <p>Name：RawChen<br>Addr：<a href="https://rawchen.com" target="_blank">https://rawchen.com</a><br>Logo：<a
                        href="https://rawchen.com/favicon.png" target="_blank">https://rawchen.com/favicon.png</a></p>
            </blockquote>
            <p>欢迎来互换友链，也可以在这个页面下方留言都行。<br>我会记着,感谢曾经给予我帮助的人。</p>
        </div>
    </article>

    <div class="comment-container">
        <div id="comments" class="clearfix">
            <div id="respond-page-{{ page.ID }}" class="zdypl">
                <span class="response" data-no-instant>发表评论 <a id="cancel-comment-reply-link" href="javascript:void(0);" rel="nofollow" style="display:none" onclick="return TypechoComment.cancelReplyPage();"> 取消评论</a></span>
                <form method="post" action="/page/{{ page.ID }}/comment" id="comment-form" class="comment-form" role="form" onsubmit ="getElementById('misubmit').disabled=true;return true;">
                    <input type="text" name="author" maxlength="12" id="author" class="form-control input-control clearfix" placeholder="昵称 (必填哦)" value="" required>
                    <input type="email" name="mail" id="mail" class="form-control input-control clearfix" placeholder="邮箱 (必填哦)" value=""  required>
                    <input type="url" name="url" id="url" class="form-control input-control clearfix" placeholder="博客地址 (https://)" value="" >
                    <textarea name="text" id="textarea" class="form-control" placeholder="来都来了，看都看了，想说点什么吗 0_o" required ></textarea>
                    <button type="submit" class="submit" id="misubmit">提交</button>
                </form>
            </div>

            {% include "component/pageComment.html" %}

            <div class="lists-navigator clearfix">
                <ol class="page-navigator">
                    {% if pagination.Pre != 0 %}
                    <li class="prev"><a href="/{{ page.Slug }}/comment-page/{{ pagination.Pre }}#comments"><</a></li>
                    {% endif %}
                    {% if pagination.First != 0 %}
                    <li><a href="/{{ page.Slug }}/comment-page/{{ pagination.First }}#comments">{{ pagination.First }}</a></li>
                    <li><span>-</span></li>
                    {% endif %}
                    {% for i in pagination.Range %}
                    {% if i == pagination.Current %}
                    <li class="current"><a href="/{{ page.Slug }}/comment-page/{{ i }}#comments">{{ i }}</a>
                    </li>
                    {% else %}
                    <li><a href="/{{ page.Slug }}/comment-page/{{ i }}#comments">{{ i }}</a></li>
                    {% endif %}
                    {% endfor %}
                    {% if pagination.Last != 0 %}
                    <li><span>-</span></li>
                    <li><a href="/{{ page.Slug }}/comment-page/{{ pagination.Last }}#comments">{{ pagination.Last }}</a></li>
                    {% endif %}
                    {% if pagination.Next != 0 %}
                    <li class="next"><a
                            href="/{{ page.Slug }}/comment-page/{{ pagination.Next }}#comments">></a></li>
                    {% endif %}
                </ol>
            </div>
        </div>
    </div>

    {% include "layout/footer.html" %}
    <a href="#0" class="cd-top">Top</a>

    {% include "component/commentJS.html" %}

    <script type="text/javascript">
            (function () {
                var pres = document.querySelectorAll('pre');
                var lineNumberClassName = 'line-numbers';
                pres.forEach(function (item, index) {
                    item.className = item.className == '' ? lineNumberClassName : item.className + ' ' + lineNumberClassName;
                });
            })();
    </script>
    <script type="text/javascript"
        src="https://rawchen.com/usr/plugins/CodeHighlighter/static/clipboard.min.js"></script>
    <script type="text/javascript" src="https://rawchen.com/usr/plugins/CodeHighlighter/static/prism.js"></script>
    <!--核心js-->
    <script type="text/javascript" src="https://cdn.bootcdn.net/ajax/libs/layui/2.5.6/layui.all.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://alkaidchen-1257721976.cos.ap-guangzhou.myqcloud.com/blog/static/js/commentTyping.js"></script>
    <script type="text/javascript">
        $(function () {
            $(".copy-to-clipboard-button").each(function (i, btn) {
                btn.addEventListener("click", function () {
                    layer.msg('代码复制成功');
                });
            });
        });
        
        if (this.$.ajaxSettings.url.indexOf("/links.html") >= 0 ||
            this.$.ajaxSettings.url.indexOf("/about.html") >= 0 ||
            this.$.ajaxSettings.url.indexOf("/movies.html") >= 0 ||
            this.$.ajaxSettings.url.indexOf("/download.html") >= 0 ||
            this.$.ajaxSettings.url.indexOf("/music.html") >= 0) {
            $("#post-content img").unwrap();
        }

        if (!$("#directory ul").has("li").length > 0) {
            $("#directory").css("display", "none");
        }
    </script>