<!DOCTYPE html>
<html>

<head>
    {% include "component/head.html" %}
    <meta name="keywords" content="" />
    <meta name="description" content="搜索" />
    <title>搜索 - {{ global.BlogTitle }}</title>
</head>

<body class="bg-grey" gtools_scp_screen_capture_injected="true">
    
    {% include "component/header.html" %}

    <div class="main-content page-page">
        <div class="search-page">
            <form id="search" class="search-form" method="post" action="https://rawchen.com/" role="search">
                <span class="search-box clearfix">
                    <input type="text" id="input" class="input" name="s" required="true" placeholder="Search..."
                        maxlength="30" autocomplete="off">
                    <button type="submit" class="spsubmit"><i class="icon-search"></i></button>
                </span>
            </form>
            <div class="search-tags">
                {% for tag in tags %}
                <a href="/tag/{{ tag.Slug }}" class="text-white bg-{{ global.RandomColor }}">{{ tag.Name }}({{ tag.ArticlesNum }})</a>
                {% endfor %}
                <div class="search-tags-hr bg-{{ global.RandomColor }}"></div>
            </div>
        </div>
    </div>

    {% include "component/footer.html" %}
    <a href="#0" class="cd-top">Top</a>
    {% include "component/tail.html" %}
</body>
</html>